
.products .form-control {
    width: 80%!important;
}
.color-div {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 12;
}
.input-check {
    position: absolute;
    top: 12px;
    z-index: -1;
    margin-left: 4px;
}
.new-border {
    border: 2px solid black;
}

#images {
    margin: 15px;
}


.img-div{
    position: relative;
    margin: 10px 5px 0;
}

.img-div i{
    font-size: 18px;
    color: red;
    position: absolute;
    right: 0;
    font-weight: 800;
    cursor: pointer;
    line-height: 0;
}
.img-style {
    border: 2px solid lightskyblue;
    cursor: pointer;
}

.preview {
    width: 415px!important;
    display: flex!important;
    flex-wrap: wrap;
    img {
        cursor: pointer;
    }
}

.color-style {
    border: 2px solid red;
}

.modal-main{
    background-color: white;
    .modal-dialog{
        max-width: 95%;
        .modal-content{
            text-align: center;
            align-items: center;
            background-color: white!important;
            padding: 10px 0;
            position: relative;
            .modal-flex{
                max-width: 95%;
                padding: 20px 10px;
                display: flex!important;
                background-color: grey!important;
                .modal-header{
                    display: block!important;
                    border: 0!important;
                    .modal-img{
                        width: 470px;
                    }
                    .modal-img-group{
                        margin-top: 10px;
                        .img-div{
                            width: 120px;
                            text-align: center;
                            img{
                                cursor: pointer;
                                width: 110px;
                            }
                        }
                        a{
                            width: 120px;
                            text-align: center;
                            img{
                                cursor: pointer;
                                width: 110px;
                            }
                        }
                    }
                }
                .modal-bod{
                    margin-left: 15px;
                    text-align: left;
                    width: 650px;
                    color: #fff;
                    h3{
                        margin: 17px 0 15px 0;
                        font-family:Prata, sans-serif;
                        font-size:24px;
                        font-weight:500;
                        text-align: left;
                    }
                    .span-desc{
                        color: #afafaf!important;
                    }
                    .star-icon{
                        text-align: left;
                        margin-bottom: 10px;
                        .ico{
                            font-size:13px;
                            color: orange;
                            color: #a8741a;
                        }
                        .ico5{
                            color: rgb(84, 84, 84);
                            font-size:13px;
                        }
                    }
                    ul{
                        margin: 5px 0;
                        padding: 0;
                        li{
                            color: #afafaf;
                            font-family:Rubik, sans-serif;
                            font-size:19px;
                            font-weight:400;
                            text-align: left;
                            list-style-type: none;
                            a{
                                font-family:Rubik, sans-serif;
                                font-size:20px;
                                font-weight:400;
                                cursor: pointer;
                                color: orange!important;
                            }
                        }
                    }
                    .many{
                        border-bottom: 1px solid black!important;
                        text-align: left;
                        .many-s1{
                            font-family:Rubik, sans-serif;
                            font-size:18px;
                            font-weight:400;
                            color: #afafaf;
                        }
                        .many-s2{
                            font-family:Rubik, sans-serif;
                            font-size:24px;
                            font-weight:500;
                            color: orange!important;
                        }
                        padding-bottom: 15px;
                    }
                    h3{
                        font-family:Prata, sans-serif;
                        font-size:21px;
                        font-weight:500;
                        color: #fff;
                    }
                    .form-group{
                        #description{
                            height: 80px!important;
                        }
                        label{
                            font-family:Rubik, sans-serif;
                            font-size:15px;
                            font-weight:400;
                            color: #afafaf;
                            display: block;
                            sup{
                                font-size: 10px;
                                color: #ea4a30;
                            }
                        }
                        select{
                            width: 100%;
                            align-items:center;
                            background: #474747;
                            border-color: #474747;
                            color: #afafaf;
                            border-radius: 5px;
                            margin-bottom:8px;
                            padding: 5px 0;
                            option{
                                background: #474747;
                                border-color: #474747;
                            }
                        }
                    }
                    .count{
                        margin-bottom: 20px;
                        span{
                            margin-right: 10px;

                            color: #afafaf;
                        }
                        .input{
                            position: relative;
                            display: inline-block;
                            width: 70px;
                            input{
                                border-radius: 5px;
                                font-family:Rubik, sans-serif;
                                font-size:16px;
                                height:50px;
                                line-height: 22.5px;
                                width: 67px;
                                padding-left: 20px;
                                color: #afafaf;
                                background: #3d3d3d;
                                border-color: #3d3d3d;
                                border: none;
                                outline: 0;
                                appearance: none!important;
                                margin: 0;
                            }
                            .up{
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 26px;
                                width: 17px;
                                line-height:26px;
                                text-align: center;
                                cursor: pointer;
                            }
                            .down{
                                text-align: center;
                                position: absolute;
                                top: 28px;
                                right: 0;
                                line-height:25px;
                                height: 25px;
                                width: 17px;
                                cursor: pointer;

                            }
                        }
                        .btn{
                            border-radius: 3px;
                            color: #fff;
                            background-color: orange!important;
                            font-family:Prata, sans-serif;
                            font-size:16px;
                            padding: 0 20px!important;
                            line-height: 45px;
                            margin-left: 20px;
                            transition-duration: 0.5s!important;
                            @media (max-width: 450px) {
                                margin-top: 20px;
                            }
                        }
                        .btn:hover{
                            background: #3d3d3d!important;
                        }
                    }
                    .add{
                        a{
                            color:rgb(255, 255, 255);
                            cursor:pointer;
                            font-family:Rubik, sans-serif;
                            font-size:15px;
                            font-weight:400;
                            display: block;
                            margin-bottom:6px;
                            transition-duration: 0.5s!important;
                        }
                        a:hover{
                            color: orange!important;
                        }
                    }
                    .text{
                        margin-top: 20px;
                        color:rgb(175, 175, 175);
                        font-family:Rubik, sans-serif;
                        font-size:15px;
                        font-weight:400;
                        a{
                            color:rgb(175, 175, 175);
                            transition-duration: 1s!important;
                        }
                        a:hover{
                            color: orange!important;
                        }
                    }
                }
            }
            .modal-footer{
                border: 0!important;
                a{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-weight: 500;
                    color: #ea4a30;
                    font-family:Rubik, sans-serif;
                    font-size:15px;
                    cursor: pointer;
                    transition-duration: 0.5s;
                }
                a:hover{
                    color: black;
                }
                @media (max-width: 650px) {
                    a{
                        top: 15px;
                        right: 0px;
                    }
                }
            }
        }
    }
    @media (max-width: 1200px) {
        .modal-dialog{
            .modal-content{
                .modal-flex{
                    .modal-header{
                        img{
                            width: 470px;

                        }
                    }
                    .modal-img-group{
                        margin-top: 10px;
                        a{
                            width: 120px!important;
                            img{
                                width: 110px!important;
                            }
                        }
                    }
                    .modal-bod{
                        width: 426px!important;
                    }
                }
            }
        }
    }
    @media (max-width: 1000px) {
        .modal-dialog{
            .modal-content{
                .modal-flex{
                    display: block!important;
                    .modal-header{
                        img{
                            width: 470px;

                        }
                    }
                    .modal-bod{
                        width: 426px!important;
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {
        .modal-dialog{
            .modal-content{
                .modal-flex{
                    display: block!important;
                    .modal-header{
                        img{
                            width: 350px!important;
                        }
                    }
                    .modal-bod{
                        max-width: 80%!important;
                        padding-left: 35px!important;
                    }
                }
            }
        }
    }

    @media (max-width: 450px) {
        .modal-dialog{
            .modal-content{
                .modal-flex{
                    display: block!important;
                    .modal-header{
                        img{
                            width: 230px!important;
                        }
                    }
                    .modal-bod{
                        max-width: 80%!important;
                        padding-left: 90px;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}



// Admin

@import "https://fonts.googleapis.com/css?family=Numans";
html {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.admin-login {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.container {
    height: 100%;
    align-content: center;
}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.social_icon {
    span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
    position: absolute;
    right: 20px;
    top: -45px;
}
.card-header {
    h3 {
        color: white;
    }
}
.input-group-prepend {
    span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }
}
input {
    &:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }
}
.remember {
    color: white;
    input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }
}
.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    &:hover {
        color: black;
        background-color: white;
    }
}
.links {
    color: white;
    a {
        margin-left: 4px;
    }
}

form {
    text-align: center;
    .admin-color {
        label {
            font-size: 17px;
            font-weight: 600;
            color: darkblue;
            display: block;
        }

        input {
            width: 40px;
            height: 40px;
        }
    }
}
.index-color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.color-table {
    width: 50%!important;
}
.color-group{

}
